body{
	padding: 0;
	margin: 0;
	font-family: Arial;
}
a{
	text-decoration: none;
	color: grey
}
header{
	width: 100%;
	background-color: #F0F0F0;
	height: 60px;
	border-bottom: 2px solid black;
}
footer{
	width: 100%;
	background-color: #828282;
	height: 70px;
	margin-top: 80px;
	border-top: solid 2px black;
	display: flex;
	justify-content: space-between;
	text-align: center;
	padding-top: 30px;
}
#red{
	color: black;
}
#red:hover{
	color: red
}
a:hover{
	color: red;
}
ul{
	list-style-type:none;
	margin: 0;
	margin-left:57%;
}
li{
	margin-top:23px;
	display: inline-block;
	margin-left:10px;
	color:#BFBFBF;
}

.block{
	width: 80%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.block1{
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}