{% extends 'base.html' %}

{% block content %}
	<div class="block1">
		<h1 style="font-size: 50px;">ООО "ЯРД"<br>Строительство домов</h1>
		<h4 style="margin-top: -20px; font-size: 20px;">Расширенная программа для тех, кто<br> хочет стать профессионалом своего дела</h4>
	</div>

	<div style="width: 100%; height: 100%; background-color: #F0F0F0;">
		<div class="block2">
			<div><h4 style="margin-top: 20px;  font-size: 35px;">Быть инженером — <br>это:</h4></h4></div>
			<div style="font-size: 17px; margin-top: 30px">
				<h4>→ Создавать проекты домов, которыми<br> люди будут восщаться десятилетиясм.</h4>
				<h4>→ Владеть востребованными на рынке труда<br> технологиями и навыками.</h4>
			</div>
		</div>
	</div>

	<div class="block3">
		<h1 style="margin-left: 200px;">Жизнь такому не учила.<br>А YardCource научит</h1>
		<div class="tab">
			<div class="list">
				<ul>
					<li id="li1">Курс 1. Основы </li>
					<li id="li2">Курс 2. Госты</li>
					<li id="li3">Курс 3. ООО "ЯРД"</li>
					<li id="li4">Курс 4. ПСД</li>
					<li id="li5">Курс 5. Сметы</li>
				</ul>
			</div>
			<div class="line"></div>

		</div>
	</div>



	<div class="block7">
		<div style="width: 500px;">
			<h1 style="margin-top: 70px; margin-left: 200px;">Пора учиться<br> новому</h1>
		</div>

		<div>
			<span style="margin-top: 70px; font-size: 18px; display: block;">
				Мы все с чего-то начинали: меняли профессию,<br> прокачивали знания или только пытались найти своё. Могли<br> знать, чего хотим, или даже не представлять, куда идём.<br> Важно было двигаться.
				<br><br>
				Просто делайте всё, что от вас зависит. Мы всегда будем<br> здесь, рядом.
			</span>
		</div>
	</div>
	<footer>
		<div><span style="font-size: 25px; display: block;margin-bottom: 0;">YardCource</span>
		<span style="font-size: 15px; display: block; margin: 0 40px"><u>Лучшие курсы для повышения квалификации</u></span></div>
	</footer>
	<script type="text/javascript" src="gl.js"></script>
<{% endblock %}>
